@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-15px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(15px);
    }
  }
  
  .wave-text {
    animation: wave 0.5s infinite linear;
}
  
